name: Demo use of GPT-i18n

on:
  pull_request:
    types: [opened]
  push:
    branches: "**"

jobs:
  run-on-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log Sys Arch
        run: uname -m

      - name: Use GPT-i18n
        uses: docker://balverine/gpt-i18n:1
        with:
          input1: "hiya"
          input2: "world"
